@inject SettingsService SettingsService
@inject NavigationManager Navigation
@inject IStoreService StoreService
@inject IStoreTypeService StoreTypeService
@inject IMapper Mapper


<div class="p-4 bg-light">
    @if (_storeModel is not null)
    {
        @if (!DisplayForm)
        {
            <div class="mt-5">
                <h4 class="text-primary">Loja</h4>
                <p><strong>Loja:</strong> @_storeModel.StoreName</p>
                <p><strong>CNPJ:</strong> @_storeModel.Cnpj</p>
                <p><strong>Tipo:</strong> @_storeTypeName</p>
                <p><strong>Licença:</strong> @_storeModel.StoreId-@_storeModel.StoreUniqueId</p>
            </div>
            <button class="btn btn-warning mt-2 me-2" @onclick="DisplayFormClick">Editar</button>
        }

        else
        {
            <h4 class="text-primary mb-4">Detalhes</h4>
            <EditForm Model="_storeModel" OnValidSubmit="HandleSaveStore">
                <DataAnnotationsValidator />
                <ValidationSummary class="alert alert-danger" />

                <!-- Store ID (Hidden) -->
                <InputNumber id="storeId" @bind-Value="_storeModel.StoreId" style="display: none;" />

                <div class="mb-3">
                    <InputText id="storeName" @bind-Value="_storeModel.StoreName" class="form-control form-control-sm rounded" placeholder="Nome da Loja" style="width: 50%;" />
                </div>

                <div class="mb-3">
                    <InputText id="cnpj" @bind-Value="_storeModel.Cnpj" class="form-control form-control-sm rounded" placeholder="CNPJ" style="width: 50%;" />
                </div>

                <div class="mb-3">
                    <InputSelect id="storeType" @bind-Value="_storeModel.StoreTypeId" @bind-Value:after="TypeChanged"
                                 class="form-control form-control-sm rounded"
                                 style="width: 50%;">
                        @foreach (var storeType in _storeTypes)
                        {
                            <option value="@storeType.StoreTypeId">@storeType.StoreTypeName</option>
                        }
                    </InputSelect>
                </div>

                <button type="submit" class="btn btn-primary mt-3 rounded" style="width: 50%;">
                    @(_storeModel.StoreId == 0 ? "Salvar" : "Atualizar")
                </button>
            </EditForm>
        }
    }
</div>

@code {
    private StoreModel _storeModel = new();
    private List<StoreTypeModel>? _storeTypes = new();
    private Store? _createdStore;
    private bool DisplayForm = false;
    private string _storeTypeName = "";


    protected override async Task OnInitializedAsync()
    {
        var results = await StoreTypeService.GetAllAsync();
        _storeTypes = Mapper.Map<List<StoreTypeModel>>(results.Data);
        if (StoreService.currentStore is not null)
        {
            _storeModel = Mapper.Map<StoreModel>(StoreService.currentStore);
        }
        else
        {

            var storeId = SettingsService.appSettings.StoreId;
            if (storeId > 0)
            {
                var store = await StoreService.GetByIdAsync(storeId);
                if (store.Data is not null)
                {
                    _storeModel = Mapper.Map<StoreModel>(store.Data);
                }
            }
        }
        SetStoreDetails();
    }

    private void SetStoreDetails()
    {
        _storeTypeName = _storeTypes?.FirstOrDefault(t => t.StoreTypeId == _storeModel.StoreTypeId)?.StoreTypeName ?? string.Empty;
    }

    public void TypeChanged()
    {
        SetStoreDetails();
    }

    private async Task HandleSaveStore()
    {
        var storeEntity = Mapper.Map<Store>(_storeModel);
        if (_storeModel.StoreId == 0)
        {
            await StoreService.AddAsync(storeEntity);
            _storeModel = Mapper.Map<StoreModel>(storeEntity);
            SetStoreDetails();
        }
        else
        {
            await StoreService.UpdateAsync(storeEntity);
            _storeModel = Mapper.Map<StoreModel>(storeEntity);
            DisplayFormClick();
            SetStoreDetails();
        }
        _createdStore = storeEntity;
    }

    private void DisplayFormClick()
    {
        DisplayForm = !DisplayForm;
    }
}
